{% extends 'layout/main.html' %}
{% load sass_tags static %}

{% block pageTitle %} {{ title }} {% endblock pageTitle %}

{% block headTags %}
    <link href="{% sass_src 'chat/css/chat.scss' %}" rel="stylesheet" type="text/css"/>
    <script>
        let myName = '{{ user.username }}';
        let user = {
            name: '{{ user.username }}',
            avatar: {% if user.userprofile.avatar %} '{{ user.userprofile.avatar.url }}' {% else %} '' {% endif %}
        }
    </script>
{% endblock headTags %}

{% block content %}
    <div class="chat-content">
        <div>
            <h2 class="text-center">Create new chat</h2>
            <form class="custom-form" method="post">
                {% csrf_token %}
                <div class="form-error non-field-errors">{{ create_chat_form.non_field_errors }}</div>
                {% for f in create_chat_form %}
                    <div class="form-field">
                        <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>
                        {{ f }}
                        <div class="form-error">{{ f.errors }}</div>
                    </div>
                {% endfor %}
                <button class="custom-button" type="submit"> Create </button>
            </form>
        </div>
        <div class="chats">
            <div>
                <h3 class="text-center">My chats</h3>
                {% if my_chats %}
                    {% for chat in my_chats %}
                        <div class="chat-info">
                            <div class="chat-info-row">
                                <div>Go to chat <span onclick="goToChat('{{ chat.uuid }}')" class="bold m-l-5 pointer">{{ chat.name }}</span></div>
                                <div>
                                    <div>Copy invite url </div>
                                    <img onclick="copyToClipboard('{{ chat.uuid }}')" class="m-l-5" src="{% static 'shared/images/copy-icon.png' %}">
                                </div>
                            </div>
                            <div class="chat-info-row">
                                <div>
                                    Created by:
                                    <span class="bold m-l-5"> {{ chat.created_by }} </span>
                                </div>
                                <div>
                                    Created at:
                                    <span class="bold m-l-5"> {{ chat.created_at|date:"Y-m-d" }} </span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div>
                <h3 class="text-center">All chats</h3>
                {% if all_chats %}
                    {% for chat in all_chats %}
                        <div class="chat-info">
                            <div class="chat-info-row">
                                <div>Go to chat <span onclick="goToChat('{{ chat.uuid }}')" class="bold m-l-5 pointer">{{ chat.name }}</span></div>
                                <div>
                                    <div>Copy invite url </div>
                                    <img onclick="copyToClipboard('{{ chat.uuid }}')" class="m-l-5" src="{% static 'shared/images/copy-icon.png' %}">
                                </div>
                            </div>
                            <div class="chat-info-row">
                                <div>
                                    Created by:
                                    <span class="bold m-l-5"> {{ chat.created_by }} </span>
                                </div>
                                <div>
                                    Created at:
                                    <span class="bold m-l-5"> {{ chat.created_at|date:"Y-m-d" }} </span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

        </div>

    </div>
{% endblock content %}


{% block scripts %}
    <script src="{% static 'chat/js/chat.js' %}"></script>
{% endblock scripts %}