{% extends 'layout/main.html' %}
{% load sass_tags static %}

{% block pageTitle %} {{ title }} {% endblock pageTitle %}

{% block headTags %}
    <link href="{% sass_src 'chat/css/chat.scss' %}" rel="stylesheet" type="text/css"/>
    <script>
        let user = {
            name: '{{ user.username }}',
            avatar: {% if user.userprofile.avatar %} '{{ user.userprofile.avatar.url }}' {% else %} '' {% endif %}
        }
    </script>
{% endblock headTags %}

{% block content %}
    {% block chat_content %}
    {% endblock chat_content %}
{% endblock content %}


{% block scripts %}
    <script src="{% static 'chat/js/chat.js' %}"></script>
    {% block chat_footer_script %}
    {% endblock chat_footer_script %}
{% endblock scripts %}