{% extends 'blog/main.html' %}


{% block blog-content %}
    <form class="custom-form add-page-form" action="{% url 'form_view_add_post' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
{#        {{ form.as_p }}#}
        <div class="form-title">FormView form add page</div>
        <div class="form-error non-field-errors"> {{ form.non_field_errors }} </div>
        {% for inp in form %}
            <div class="form-field">
                <label  for="{{ inp.id_for_label }}" class="form-label">
                    {{ inp.label }}
                </label>
                {{ inp }}
                <div class="form-error">{{ inp.errors }}</div>
            </div>
        {% endfor %}

        <button class="custom-button" type="submit"> Add </button>
    </form>
{% endblock blog-content %}