Hello, {{ name|safe }} {#safe екранування строки#}
age {{ age }} Hello, <br/>
{{ person.get_name }} age {{ person.get_age }} <br/>
{% verbatim %} {{ person.get_name() }} age {{ person.get_age }} {% endverbatim %} <br/> {#safe екранування коду#}

{% for city in cities %}
    <div> {{ city.id }} {{ city.name }} </div>
{% endfor %}


{% if cities|length > 2 %}
    <div> cities|length > 2 </div>
{% elif cities|length == 0 %}
    <div> cities|length == 0 </div>
{% else %}
    <div> cities|length < 2 </div>
{% endif %}


{#<div> sum(attribute='id') {{ cities | sum(attribute='id') }} </div>#}

{% include 'jinja/custom_input.html' with label='lastName' label='lastName' name='lastName' value='lastName' placeholder='lastName' %}
{% include 'jinja/custom_input.html' with label='password' label='password' name='password' value='password' placeholder='password' %}
{% include 'jinja/custom_input.html' with label='cities' label='cities' name='cities' value='cities' placeholder='cities' %}

{% include 'jinja/cities.html' with cities=cities %}

