.statistics-container {
  margin-top: 50px;
  margin-bottom: 100px;
}
.base-statistics {
  display: flex;
  justify-content: space-around;
  align-self: center;
  .pie-chart {
    height: 400px;
    width: 400px;
    margin: 40px auto;
  }
  .line-chart{
    width: 800px;
    margin: 40px auto;
  }
}
