{% load static %}

<div class="footer">
    <div class="main-content footer-content">
        <div>
            <div class="logo">
                <img class="logo-img" src="{% static 'shared/images/logo1.png' %}" alt="logo" />
                <span class="logo-text">LOGO</span>
            </div>
            <h2>footerTitle </h2>

        </div>
        <div>
            <h4>footerTitle footerTitle</h4>
            <h4>footer</h4>
            <h4>footerTitle footerTitle footerTitle</h4>
            <h4>footerTitle</h4>
            <h4>footerTit</h4>
        </div>
        <div>
            <h4>footerTitle</h4>
            <h4>footerTitle footerTitle</h4>
            <h4>footerTitle</h4>
            <h4>footerTitle</h4>
        </div>
    </div>

</div>